@import "style";
main {
  justify-content: center;
  align-items: center;
}

#levels-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16em;
  button {
    padding: 0.5em 0;
    width: 350px;
    margin: 0.25em;
  }
}
.active {
  @include hover {
  }
}
