@import "style";

#main-end {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  input {
    width: 100%;
    padding: 0.6em 0.8em;
    border-radius: $border-radius;
    background: none;
    font-size: 1.2em;
    border: 2px solid $white;
    margin: 0.5em 0 0.8em;
    &:hover {
      border: 2px solid $dark-green;
      color: $dark-green;
      font-weight: 600;
    }
  }
  a {
    width: 100%;
    margin: 0.3em 0;
  }
}

#final-score {
  background: $very-dark-green;
  color: $white;
  border-radius: $border-radius-small;
  padding: 0.1em 0.3em;
  margin: 0.4em 0 0.2em;
}
