@import "style";

#users-records {
  display: flex;
  flex-direction: column;
}

.user-score {
  display: flex;
  justify-content: space-between;
  width: 20em;
  margin: 0 0 0.3em;
  background: $white;
  border-radius: $border-radius;
  padding: 0.3em 0em;
  font-size: 1.2em;
  font-weight: 500;
  .user-id {
    background: $very-dark-green;
    color: $white;
    padding: 0.4em 0.6em;
    margin: 0 0.6em;
    border-radius: $border-radius-small;
  }
  .user-name {
    padding: 0.5em;
  }
  .score {
    background: $very-light;
    padding: 0.6em 0.6em;
    margin: 0 0.6em;
    border-radius: $border-radius-small;
  }
}
