$white: #ffffff;
$very-light: #dcf8e3;
$light-green: #92e6a7;
$pale-green: #6ede8a;
$green: #2dc653;
$dark-green: #1a7431;
$very-dark-green: #10451d;
$border-radius: 0.8em;
$border-radius-small: 0.5em;

@mixin hover {
  background: $very-dark-green;
  color: $white;
  @content;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Afacad Flux", Arial, Helvetica, sans-serif;
}

body {
  background: $very-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  margin: 5em 0 2em;
}
h1 {
  color: $very-dark-green;
  font-weight: 800;
  font-size: 3em;
}

main {
  width: max(50%, 650px);
  display: flex;
  flex-direction: column;
  a,
  button {
    text-decoration: none;
    color: $very-dark-green;
    background: $white;
    border-radius: $border-radius;
    padding: 0.5em 2em;
    margin: 0.25em;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    border: none;
    &:hover {
      @include hover {
      }
    }
    transition: 0.4s all ease;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#finish,
#next,
.go-home {
  background: none;
  border: 2px solid $very-dark-green;
  padding: 0.2em 0.7em;
  margin: 0.8em;
  font-size: 1.2em;
}
